html body {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#barra__navegacion {
  margin-top: 0rem;  
  border-bottom: solid rgb(82, 82, 82) 0.1rem ;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-left: 7rem;
  padding-right: 3rem;
}

div#carrusel__index {
  width: 52.5rem;
  height: auto;
  margin-left: 15rem;
  margin-top: 0.5rem;
}

#foto__carrusel {
  width: 100%;
}

#img__carrusel {
  border-radius: 10px;
}

.radio__show {
  margin-left: 30rem;
  margin-top: 4rem;
}

#cards__radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  gap: 3rem;
  margin-top: 2rem;
}

.ultimos__lanzamientos {
  margin-left: 21rem;
  margin-top: 4rem;
}

#cards__lanzamientos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  gap: 3em;
  margin-top: 2rem;

}

.proximas__fechas {
  margin-left: 26rem;
  margin-top: 4rem;
}

#seccion__proximasfechas {
  margin: 3rem;
}

.ultimas__novedades {
  margin-left: 24rem;
  margin-top: 1.5rem;
}

#cards__ultimasnovedades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
  gap: 3rem;
  margin-top: 2rem;
}

#flyer__cercle {
  height: 24rem;
}

#titulo__contacto {
  border-bottom: solid rgb(82, 82, 82) 0.1rem ;
}

.contacto {
  margin-left: 32rem;
  margin-top: 4rem;
}

#seccion__contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.card:hover {
  filter: opacity(0.8);
  transform: scale(1.02);
  cursor: pointer;
}

.footer__subTitle {
  display: flex;
  align-content: center;
  justify-content: center;
}

.footer__text {
  border-bottom: solid rgb(82, 82, 82) 0.1rem ;
  display: flex;
  align-content: center;
  justify-content: center;
}

#footer {
  display: flex;
  align-content: center;
  justify-content: center;
}
